@model Worker.Web.ViewModel.Employee.EmployeeViewModel

@{
    ViewBag.Title = "Детали";
}

@{
    object parameters = new
    {
        Model.Id,
        Model.Filter.StatusFilter,
        Model.Filter.CurrentPage,
        Model.Filter.PageSize
    };
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", parameters) |
    @Html.ActionLink("К списку", "Index", parameters)
</p>


