@model Worker.Web.ViewModel.Employee.EmployeeViewModel

@Html.AntiForgeryToken()

@Html.HiddenFor(i => i.Filter.CurrentPage)
@Html.HiddenFor(i => i.Filter.PageSize)
@Html.HiddenFor(i => i.Filter.StatusFilter)

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Position, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Position, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Position)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Salary, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Salary, string.Format("{0:0.00}", Model.Salary), new { @class = "form-control", id = "tbAmount" })
            @Html.ValidationMessageFor(model => model.Salary)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(i => i.Status, Model.AllStatuses, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Status)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить" class="btn btn-default" />
            <input type="button" value="Отмена" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Employee", Model.Filter)'" />
        </div>
    </div>
</div>
